$hdr-background: '../../img/tennis-banner.jpg';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    background-color: transparent;
}

body {
    background-color: #943f2e;
    -webkit-font-smoothing: antialiased;
}

header {
    background: url($hdr-background);
    background-size: cover;
    height: 250px;
}

.container {
    margin: 0 auto;
    max-width: 680px;
}

.instructions {
    background-color: #131911;
    height: auto;
    max-height: 310px;
    padding: 1em;

    h3 {
        color: #75896f;
    }

    p {
        color: #cdcfc6;
        font-size: 1.2em;
    }
}

.btn {
    background-color: #88a036;
    border-radius: .5em;
    color: #cdcfc6;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    margin: 1.5em auto;
    max-width: 160px;
    padding: 1em;
    text-align: center;
}

.scoreboard h3 {
    background-color: #131911;
    color: lightblue;
    margin: 0 auto;
    max-width: 50%;
}

#right {
    color: limegreen;
    margin-right: .5em;
}

#wrong {
    color: crimson;
    margin-right: .5em;
}

#togo {
    color: lightslategrey;
}

.quiz {
    background-color: #2d5c2d;
    padding: 30px 10px;
}

.board {
    text-align: center;
}

.question {
    color: #cdcfc6;
    font-size: 1.4em;
    margin: 0 auto;
    max-width: 85%;
    text-align: left;
}

.choices {
    background: #224822;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.choice {
    flex: 1;
    min-width: 20em;
    padding: 20px 10px;
}

.bar {
    border: .15em solid #cdcfc6;
    margin: 0 auto 1em;
    width: 90%;
}

.right-choice {
    color: limegreen !important;
    text-decoration: underline !important;
}

.wrong-choice {
    color: crimson !important;
    text-decoration: line-through !important;
}

.explain {
    color: aliceblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

[type=radio] {
    width: 35px;
}

// Checkboxes
input[type=radio] {
    display: none;
}

input[type=radio] + label {
    color: #ddd;
    cursor: pointer;
    display: block;
    font: 1.2em/1.3em 'Open Sans', Arial, sans-serif;
    padding-left: 35px;
    position: relative;
    user-select: none;
}

input[type=radio] + label::before {
    border: 1px solid #88a036;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    transition: all .12s, border-color .08s;
    width: 20px;
}

input[type=radio]:checked + label::before {
    border-left-color: transparent;
    border-radius: 0;
    border-top-color: transparent;
    left: 5px;
    opacity: 1;
    top: -5px;
    transform: rotate(45deg);
    width: 10px;
}

// Media Queries
@media screen and (max-width: 715px) {
    header {
        background-position: bottom center;
        transition: all .3s;
    }
}

@media screen and (max-width: 550px) {
    .scoreboard h3 {
        max-width: 80%;
    }
}

